.til {

    .box.box {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }
}

.til-code {
    position: relative;
    max-height: 90px;
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    .expanded {
        max-height: initial;
    }
    
    pre {
        padding: 0;
        overflow: hidden;
    }

    code {
        padding: 20px;
    }
}

.accordion-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top,rgba(126,125,125,0.5), rgba(0,0,0,0));

}