:80 {
    proxy / nextjs:3000 {
    transparent
    }

    proxy /content ghost_backend:2368 {
        transparent
    }    

    proxy /ghost ghost_backend:2368 {
        transparent
    }    

    proxy /storybook storybook:80/ {
        transparent
    }
}